body {
    text-align: center;
    background: #25272A;
    -webkit-transition: background-color 150ms ease-out !important;
    transition: background-color 150ms ease-out !important;
}
body.day-background {
 background: #fff;
}

textarea.day-background {
 border-color: rgba(156, 174, 192, 0.27);
 background-color: rgba(156, 174, 192, 0.27);
 color: #eee8d5;

}

.button-con {
  cursor: default;
  text-align: left;
  padding-left: 2%;
  padding-bottom: 12px;
}
#dayIcon {
  position: relative;
  width: 26px;
  height: 26px;
  top: -3px;
  margin: 0 7px;
  fill: rgba(156, 174, 192, 0.27);
}
#nightIcon {
  position: relative;
  width: 26px;
  height: 26px;
  top: -3px;
  margin: 0 7px;
  fill: rgba(156, 174, 192, 0.27);
}
#dayIcon, #nightIcon {
  cursor: pointer;
}
.toggle {
  display: none;
}
.toggle, .toggle:after, .toggle:before, .toggle *, .toggle *:after, .toggle *:before, .toggle + .toggle-button {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.toggle::-moz-selection, .toggle:after::-moz-selection, .toggle:before::-moz-selection, .toggle *::-moz-selection, .toggle *:after::-moz-selection, .toggle *:before::-moz-selection, .toggle + .toggle-button::-moz-selection {
  background: none;
}
.toggle::selection, .toggle:after::selection, .toggle:before::selection, .toggle *::selection, .toggle *:after::selection, .toggle *:before::selection, .toggle + .toggle-button::selection {
  background: none;
}
.toggle + .toggle-button {
  outline: 0;
  display: inline-block;
  width: 3em;
  height: 1.5em;
  position: relative;
  cursor: pointer;
  border: 2px solid #333;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.toggle + .toggle-button:after, .toggle + .toggle-button:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.toggle + .toggle-button:after {
  left: 0;
}
.toggle + .toggle-button:before {
  display: none;
}
.toggle:checked + .toggle-button:after {
  left: 50%;
}

.toggle + .toggle-button {
  padding: 2px;
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
  border: 2px solid rgba(156, 174, 192, 0.27);
}
.toggle + .toggle-button:after {
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
  background: rgba(156, 174, 192, 0.27);
  content: "";
}
.toggle:checked + .toggle-button:after {
  left: 50%;
}

  textarea {
    width: 32%;
    float: top;
    min-height: 250px;
    overflow: scroll;
    margin: auto;
    display: inline-block;
    background: #F4F4F9;
    outline: none;
    font-family: 'PT Mono', monospace;
    font-size: 14px;
    border: 1px solid #fff;
    color: #212121;
    padding: 4px;
  }

  iframe {
    bottom: 0;
    position: relative;
    width: 96.5%;
    height: 35em;
    border: 1px solid #FFF;
    background-color: #FFF;
    color: #212121;
    border: 1px solid #F4F4F9;
  }
